# Linux
*~
*.bak
*.gz
*.log

# OSX
.DS_Store
.ds_store

# PHP Phar files
*.phar
!box.phar

# PhalconPHP Dev-tools
.phalcon

# Node & Webpacks
node_modules
# YuiDoc Themes
!webpacks/node_modules/yuidoc-lucid-theme/partials/index.handlebars
